CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_CD_CF]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_CD_CF BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE DATE CD_CF !';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

-- => DATA PROCESSING INTO TABLE AFC_EE_VF_CD_CF

			BEGIN TRAN ;
				
						DECLARE @COUNT FLOAT ;
						SELECT  @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_EE_NOM_R_VF_CD_CF (@AN, @LUNA) ;

						TRUNCATE TABLE dbo.EE_NOM_R_VF_CD_CF

						IF @COUNT>0
							BEGIN					
									INSERT INTO dbo.EE_NOM_R_VF_CD_CF
									SELECT * FROM dbo.fn_EE_NOM_R_VF_CD_CF (@AN, @LUNA) 

									DECLARE @MSG_2 VARCHAR(100);
									SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE !';

									EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
									SET @ERROR_CD_CF=0								
							END;

						ELSE IF @COUNT=0
							BEGIN
									INSERT INTO dbo.EE_NOM_R_VF_CD_CF  (  MESAJ_EROARE )
									VALUES (	'NU SUNT ERORI!' )

									DECLARE @MSG_3 VARCHAR(100);
									SET     @MSG_3='01- DATELE CLIENTILOR DIF SUNT VALIDE !';

									EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
									SET @ERROR_CD_CF=1

									DECLARE @MSG_4 VARCHAR(100);
									SET     @MSG_4 ='FINISH VERIFICARE DATE CD_CF !';

									EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

							END;

			COMMIT TRAN;										

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;


CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_COST_ACH_TRANS]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_ACH_TRAN BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE DATE COST ACHIZITIE SI TARIF TRANSPORT !';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;


-- => DATA PROCESSING INTO TABLE EE_NOM_R_VF_COST_ACH_TRANS

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_EE_NOM_R_VF_COST_ACH_TRANS (@AN, @LUNA) WHERE MESAJ_EROARE IS NOT NULL ;

						TRUNCATE TABLE dbo.EE_NOM_R_VF_COST_ACH_TRANS;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.EE_NOM_R_VF_COST_ACH_TRANS
										SELECT * FROM dbo.fn_EE_NOM_R_VF_COST_ACH_TRANS (@AN, @LUNA ) WHERE MESAJ_EROARE IS NOT NULL

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE  !' ;

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_ACH_TRAN=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.EE_NOM_R_VF_COST_ACH_TRANS (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- DATE COST ACHIZITIE SI TARIF TRANSPORT SUNT COMPLETE !' ;

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_ACH_TRAN=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE DATE COST ACHIZITIE SI TARIF TRANSPORT !';

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_DELTA_CUT_OFF]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_D_CUT_OFF BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE DATE CUT OFF !';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;


-- => DATA PROCESSING INTO TABLE AFC_EE_VF_DELTA_CUT_OFF

			BEGIN TRAN ;
				
						DECLARE @COUNT FLOAT ;
						SELECT  @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_EE_NOM_R_VF_DELTA_CUT_OFF(@AN, @LUNA) ;

						TRUNCATE TABLE dbo.EE_NOM_R_VF_DELTA_CUT_OFF

						IF @COUNT>0
							BEGIN					
									INSERT INTO dbo.EE_NOM_R_VF_DELTA_CUT_OFF
									SELECT * FROM dbo.fn_EE_NOM_R_VF_DELTA_CUT_OFF (@AN, @LUNA) 

									DECLARE @MSG_2 VARCHAR(100);
									SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE !';

									EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
									SET @ERROR_D_CUT_OFF=0								
							END;

						ELSE IF @COUNT=0
							BEGIN
									INSERT INTO dbo.EE_NOM_R_VF_DELTA_CUT_OFF  (  MESAJ_EROARE )
									VALUES (	'NU SUNT ERORI!' )

									DECLARE @MSG_3 VARCHAR(100);
									SET     @MSG_3='01- DATELE CLIENTILOR CUT OFF SUNT VALIDE !';

									EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
									SET @ERROR_D_CUT_OFF=1

									DECLARE @MSG_4 VARCHAR(100);
									SET     @MSG_4 ='FINISH VERIFICARE DATE CUT OFF !';

									EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

							END;

			COMMIT TRAN;										

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_DIF]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_DIF BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE DATE DIF ';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;


-- => DATA PROCESSING INTO TABLE TABELA AFC_EE_VF_DIF

			BEGIN TRAN ;
				
						DECLARE @COUNT FLOAT ;
						SELECT  @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_EE_NOM_R_VF_DIF (@AN, @LUNA) ;

						TRUNCATE TABLE dbo.EE_NOM_R_VF_DIF

						IF @COUNT>0
							BEGIN					
									INSERT INTO dbo.EE_NOM_R_VF_DIF
									SELECT * FROM dbo.fn_EE_NOM_R_VF_DIF (@AN, @LUNA) 

									DECLARE @MSG_2 VARCHAR(100);
									SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE !';

									EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
									SET @ERROR_DIF=0								
							END;

						ELSE IF @COUNT=0
							BEGIN
									INSERT INTO dbo.EE_NOM_R_VF_DIF  (  MESAJ_EROARE )
									VALUES (	'NU SUNT ERORI!' )

									DECLARE @MSG_3 VARCHAR(100);
									SET     @MSG_3='01- DATELE CLIENTILOR DIF SUNT VALIDE !';

									EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
									SET @ERROR_DIF=1

									DECLARE @MSG_4 VARCHAR(100);
									SET     @MSG_4 ='FINISH VERIFICARE DATE DIF !';

									EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
									PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

							END;

			COMMIT TRAN;										

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_FACT]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_FACT BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE DATE FACTURATE !';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;


-- => DATA PROCESSING INTO TABLE AFC_EE_VF_FACT

			BEGIN TRAN ;
				
						DECLARE @COUNT FLOAT ;
						SELECT  @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_EE_NOM_R_VF_FACT (@AN, @LUNA) ;

						TRUNCATE TABLE dbo.EE_NOM_R_VF_FACT

						IF @COUNT>0
							BEGIN					
									INSERT INTO dbo.EE_NOM_R_VF_FACT
									SELECT * FROM dbo.fn_EE_NOM_R_VF_FACT (@AN, @LUNA) 

									DECLARE @MSG_2 VARCHAR(100);
									SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE !';

									EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
									PRINT @AN_CALC+' '+@LUNA_CALC+' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
									SET @ERROR_FACT=0								
							END;

						ELSE IF @COUNT=0
							BEGIN
									INSERT INTO dbo.EE_NOM_R_VF_FACT  (  MESAJ_EROARE )
									VALUES (	'NU SUNT ERORI!' )

									DECLARE @MSG_3 VARCHAR(100);
									SET     @MSG_3='01- DATE CLIENTILOR FACTURATI SUNT VALIDE !';

									EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
									PRINT @AN_CALC+' '+@LUNA_CALC+' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
									SET @ERROR_FACT=1

									DECLARE @MSG_4 VARCHAR(100);
									SET     @MSG_4 ='FINISH VERIFICARE DATE FACTURATE !';

									EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
									PRINT @AN_CALC+' '+@LUNA_CALC+' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

							END;

			COMMIT TRAN;										

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC+' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_ID_SUBPOR]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_ID_SUBPOR BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE ID SUBPORTOFOLIU !';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

-- => DATA PROCESSING INTO TABLE EE_NOM_R_VF_ID_SUBPOR

			BEGIN TRAN ;

					TRUNCATE TABLE dbo.EE_NOM_R_VF_ID_SUBPOR ;

-- CHECK SUBPORTFOLIO	
	
					CREATE TABLE #Temp_Subpor ( PARTENERDEAFACERI CHAR(10)NOT NULL,
												INDEX #Temp_Subpor NONCLUSTERED ( PARTENERDEAFACERI )
											   ) ;

					INSERT INTO #Temp_Subpor ( PARTENERDEAFACERI )
					SELECT DISTINCT PARTENERDEAFACERI FROM dbo.AFC_MD_DIM_SUBPOR 
					WHERE MOD_ID=1 AND PARTENERDEAFACERI NOT IN ( SELECT DISTINCT PARTENERDEAFACERI FROM dbo.EE_NOM_R_INT_MAPARE_SUBPOR )

					INSERT INTO #Temp_Subpor ( PARTENERDEAFACERI )
					SELECT DISTINCT PARTENERDEAFACERI FROM dbo.EE_NOM_R_INT_MAPARE_SUBPOR

					INSERT INTO dbo.EE_NOM_R_VF_ID_SUBPOR
					SELECT      'PARTENERDEAFACERI : NU ESTE ALOCAT IN SUBPORTOFOLIU !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
					FROM           
								(	
								 SELECT PARTENERDEAFACERI FROM dbo.EE_NOM_R_MARIMI WHERE STARECLIENT='ELIGIBIL' AND AN=@AN AND LUNA=@LUNA GROUP BY PARTENERDEAFACERI
											EXCEPT
								 SELECT PARTENERDEAFACERI FROM #Temp_Subpor GROUP BY PARTENERDEAFACERI
								) src 


COMMIT TRAN;		

-- => CHECK DATA IN TABLE EE_NOM_R_VF_ID_SUBPOR

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.EE_NOM_R_VF_ID_SUBPOR ;

						IF @COUNT>0
								BEGIN
										DECLARE @NR_1 CHAR(10); 
										DECLARE @MSG_2 VARCHAR(100);
										SET	@NR_1=TRIM(CONVERT(CHAR(10),@COUNT)) ;
										SET @MSG_2='01-  '+@NR_1 + ' DE ERORI AU FOST IDENTIFICATE !';

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_ID_SUBPOR=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.EE_NOM_R_VF_ID_SUBPOR  (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- TOTI CLIENTII SUNT ALOCATI IN SUBPORTOFOLIU !' ;

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_ID_SUBPOR=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE MAPARE SUBPORTOFOLIU !';

										EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_MAPARE_CURBA]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_M_CURBA BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE MAPARE CURBA PENTRU ANUL !';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;


-- => DATA PROCESSING INTO TABLE AFC_EE_VF_MAPARE_CURBA

			BEGIN TRAN ;

					TRUNCATE TABLE dbo.EE_NOM_R_VF_MAPARE_CURBA ;

-- CHECK B2B
	
					CREATE TABLE #Temp_Curba ( INSTALATIE CHAR(10)NOT NULL,
										 INDEX #Temp_Curba NONCLUSTERED ( INSTALATIE )
										) ;

					INSERT INTO #Temp_Curba ( INSTALATIE )
					SELECT DISTINCT INSTALATIE FROM dbo.AFC_MD_DIM_CURBA WHERE MOD_ID=1

					INSERT INTO dbo.EE_NOM_R_VF_MAPARE_CURBA
					SELECT      'INSTALATIE : NU ARE CURBA ALOCATA !' AS MESAJ_EROARE, src.INSTALATIE , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
					FROM           
								(	
								SELECT INSTALATIE FROM dbo.EE_NOM_R_MARIMI WHERE STARECLIENT IN ('ELIGIBIL','AGENTFUI','AGENTSU') AND AN=@AN AND LUNA=@LUNA GROUP BY INSTALATIE
									EXCEPT
								SELECT INSTALATIE FROM #Temp_Curba GROUP BY INSTALATIE
								) src

-- CHECK B2C

					CREATE TABLE #Temp_Coef ( COD CHAR(50)NOT NULL,
										 INDEX #Temp_Coef NONCLUSTERED ( COD)
										) ;
					INSERT INTO #Temp_Coef ( COD )
					SELECT DISTINCT CURBA FROM dbo.AFC_MD_DIM_COEF WHERE MOD_ID=1 AND YEAR(DATA_CONS)=@AN AND MONTH(DATA_CONS)=@LUNA ;

					INSERT INTO dbo.EE_NOM_R_VF_MAPARE_CURBA
					SELECT  'CURBA : NU ARE COEFICIENT ALOCAT !' AS MESAJ_EROARE, ID_INST AS INSTALATIE , CURBA AS COD , MOD_DE , MOD_TIMP
					FROM     dbo.EE_NOM_R_INT_MM_CANT
					WHERE	 CURBA IN 
							(	
							SELECT CURBA FROM dbo.EE_NOM_R_INT_MM_CANT WHERE AN=@AN AND LUNA=@LUNA GROUP BY CURBA
								EXCEPT
							SELECT COD FROM #Temp_Coef GROUP BY COD
							)

			COMMIT TRAN;

-- => CHECK DATA IN TABLE EE_NOM_R_VF_MAPARE_CURBA

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.EE_NOM_R_VF_MAPARE_CURBA ;

						IF @COUNT>0
								BEGIN

										DECLARE @NR_1 CHAR(10); 
										DECLARE @MSG_2 VARCHAR(100);
										SET	@NR_1=TRIM(CONVERT(CHAR(10),@COUNT)) ;
										SET @MSG_2='01-  '+@NR_1 + ' DE ERORI AU FOST IDENTIFICATE !';

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_M_CURBA=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.EE_NOM_R_VF_MAPARE_CURBA  (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- TOTI CLIENTII SUNT MAPATI CU CURBA DE CONSUM !';

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_M_CURBA=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE MAPARE CURBA !';

										EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_MAPARE_SUBPOR]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_SUBPOR BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2);
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE MAPARE SUBPORTOFOLIU !';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;

-- => DATA PROCESSING INTO TABLE EE_NOM_R_VF_MAPARE_SUBPOR

			BEGIN TRAN ;

					TRUNCATE TABLE dbo.EE_NOM_R_VF_MAPARE_SUBPOR ;


---- CHECK QUANTITY AND PRICE
	
					INSERT INTO dbo.EE_NOM_R_VF_MAPARE_SUBPOR
					SELECT      'PARTENERDEAFACERI : NU ARE ALOCAT CANTITATE BANDA SI PRET BANDA !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
					FROM           
						(	
						SELECT PARTENERDEAFACERI FROM dbo.EE_NOM_R_INT_MAPARE_SUBPOR WHERE COD IN ('P2') GROUP BY PARTENERDEAFACERI
							EXCEPT
						SELECT PARTENERDEAFACERI FROM dbo.EE_NOM_R_INT_ACH_SUBPOR_BANDA WHERE AN=@AN AND LUNA=@LUNA GROUP BY PARTENERDEAFACERI
						)  src
				
---- CHECK HFC    	
					INSERT INTO dbo.EE_NOM_R_VF_MAPARE_SUBPOR
					SELECT       'PARTENERDEAFACERI : NU ARE ALOCAT HFC PENTRU ZIUA DE : ' + ZIUA+' !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
					FROM           
							(	
							SELECT PARTENERDEAFACERI, CONVERT(CHAR(10),DATA_ANTERIOR,23) ZIUA
							FROM fn_EE_NOM_R_BANDA_DATA_OFERTA (@AN, @LUNA)
							WHERE DATA_ANTERIOR NOT IN ( SELECT DISTINCT DATA_OFERTA FROM dbo.fn_EE_NOM_R_PZU_DATA_OFERTA (@AN, @LUNA ))
							GROUP BY PARTENERDEAFACERI, DATA_ANTERIOR
							) src  

-- CHECK OFFER VALADITY

					INSERT INTO dbo.EE_NOM_R_VF_MAPARE_SUBPOR
					SELECT      'VALABILITATE OFERTA : VALABILITATEA OFERTEI DE LA BANDA NU ESTE LA FEL CU HFC !' AS MESAJ_EROARE, src.PARTENERDEAFACERI , NULL AS COD , NULL AS MOD_DE , NULL AS MOD_TIMP
					FROM           
							(	
							SELECT b.PARTENERDEAFACERI
							FROM ( SELECT DISTINCT PARTENERDEAFACERI, DATA_ANTERIOR, VALABIL_DELA, VALABIL_PANALA FROM dbo.fn_EE_NOM_R_BANDA_DATA_OFERTA (@AN, @LUNA)) b, 
								 ( SELECT DISTINCT DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA FROM dbo.fn_EE_NOM_R_PZU_DATA_OFERTA (@AN, @LUNA)) p
							WHERE b.DATA_ANTERIOR=p.DATA_OFERTA                                       AND
								  b.VALABIL_DELA NOT BETWEEN p.VALABIL_DELA AND p.VALABIL_PANALA    AND 
								  b.VALABIL_PANALA NOT BETWEEN p.VALABIL_DELA AND p.VALABIL_PANALA
							GROUP BY b.PARTENERDEAFACERI
							) src
-- LIPSA ID

					INSERT INTO dbo.EE_NOM_R_VF_MAPARE_SUBPOR
					SELECT  'CURBA DEFINITA IN TABELA CANTITATE OFERTA: NU ARE COEFICIENT ALOCAT !' AS MESAJ_EROARE, PARTENERDEAFACERI , CURBA AS COD , MOD_DE , MOD_TIMP
					FROM EE_NOM_R_INT_ACH_CANT_OFERTA
					WHERE AN_RAPORT=@AN AND LUNA_RAPORT=@LUNA AND CURBA IN (SELECT DISTINCT CURBA FROM vw_EE_NOM_R_LIPSA_COEF )

-- DIF OFFER VALABILITY

					INSERT INTO dbo.EE_NOM_R_VF_MAPARE_SUBPOR
					SELECT  'OFERTA DIFERA DE VALABILITATEA CONTRACTULUI: CANTITATEA OFERTATA TREBUIE SA FIE IN INTERVALUL VALABILITATII OFERTEI DEFINITE IN TABELUL DE BANDA !' AS MESAJ_EROARE, PARTENERDEAFACERI , NULL AS COD ,NULL AS MOD_DE , NULL AS MOD_TIMP
					FROM    dbo.fn_EE_NOM_R_CANT_OFERTA (@AN, @LUNA )
					WHERE   VALABIL=0
					GROUP BY PARTENERDEAFACERI
					
COMMIT TRAN;		

-- => CHECK DATA IN TABLE EE_NOM_R_VF_MAPARE_SUBPOR

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.EE_NOM_R_VF_MAPARE_SUBPOR ;

						IF @COUNT>0
								BEGIN
										DECLARE @NR_1 CHAR(10); 
										DECLARE @MSG_2 VARCHAR(100);
										SET	@NR_1=TRIM(CONVERT(CHAR(10),@COUNT)) ;
										SET @MSG_2='01-  '+@NR_1 + ' DE ERORI AU FOST IDENTIFICATE !';

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_SUBPOR=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.EE_NOM_R_VF_MAPARE_SUBPOR  (  MESAJ_EROARE   )
										VALUES ('NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- TOTI CLIENTII SUNT ALOCATI IN SUBPORTOFOLIU !' ;

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_SUBPOR=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE MAPARE SUBPORTOFOLIU !';

										EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

--=> ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;

CREATE PROCEDURE [dbo].[sp_EE_NOM_R_VF_TARIF_DISTR]
(
@AN SMALLINT,
@LUNA SMALLINT,
@ERROR_TARIF_DISTR BIT OUTPUT
)
AS
BEGIN ;

				SET XACT_ABORT , NOCOUNT ON;

				DECLARE @OBJECT_NAME  CHAR(100);
				DECLARE @AN_CALC CHAR(4);
				DECLARE @LUNA_CALC CHAR(2)
				SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				SET		@AN_CALC=TRIM(CONVERT(CHAR(4),@AN)) ;
				SET		@LUNA_CALC=TRIM(CONVERT(CHAR(2),@LUNA)) ;

				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1 ='START VERIFICARE TARIF DISTRIBUTIE !';

				EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_1
				PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_1

	BEGIN TRY ;


-- => DATA PROCESSING INTO TABLE AFC_EE_VF_TARIF_DISTR

			BEGIN TRAN ;

						DECLARE @COUNT FLOAT;							
					
						SELECT @COUNT= ISNULL(COUNT(*),0) FROM dbo.fn_EE_NOM_R_VF_TARIF_DISTR (@AN, @LUNA) ;

						TRUNCATE TABLE  dbo.EE_NOM_R_VF_TARIF_DISTR ;

						IF @COUNT>0
								BEGIN
										INSERT INTO dbo.EE_NOM_R_VF_TARIF_DISTR
										SELECT * FROM dbo.fn_EE_NOM_R_VF_TARIF_DISTR (@AN, @LUNA)

										DECLARE @MSG_2 VARCHAR(100);
										SET     @MSG_2='01-  '+cast(@@rowcount as varchar(255)) + ' DE ERORI AU FOST IDENTIFICATE ! ' ;

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@MSG_2
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@MSG_2
										SET @ERROR_TARIF_DISTR=0
								END

						ELSE IF @COUNT=0
								BEGIN									
										INSERT INTO dbo.EE_NOM_R_VF_TARIF_DISTR  (  MESAJ_EROARE   )
										VALUES (	'NU SUNT ERORI!' )

										DECLARE @MSG_3 VARCHAR(100);
										SET     @MSG_3='01- TARIFUL DE DISTRIBUTIE ESTE VALIDA !' ;

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_3
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_3
										SET @ERROR_TARIF_DISTR=1

										DECLARE @MSG_4 VARCHAR(100);
										SET     @MSG_4 ='FINISH VERIFICARE TARIF DISTRIBUTIE !';

										EXEC sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'INFORMARE' ,@MSG_4
										PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->INFORMARE'+' ->'+@MSG_4

								END;

			COMMIT TRAN;											

-- => ERROR HANDLING

	END TRY 

		BEGIN CATCH ;
			IF @@TRANCOUNT>0
			ROLLBACK TRAN ;

			DECLARE @ERROR_MESSAGE VARCHAR(1000);
			SET @ERROR_MESSAGE=ERROR_MESSAGE() ;

			EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' ,@ERROR_MESSAGE
			PRINT @AN_CALC+' '+@LUNA_CALC +' : '+@OBJECT_NAME+'->EROARE'+' ->'+@ERROR_MESSAGE

		END CATCH ;
END;





GO
