CREATE PROCEDURE [dbo].[master_EE_NOM_R_CALC_ACH]
( 
@AN SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		DECLARE @OBJECT_NAME  CHAR(100);
		SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

			DECLARE @ERROR_ACH_TRAN BIT ;
			EXEC dbo.sp_EE_NOM_R_VF_COST_ACH_TRANS @AN, @LUNA, @ERROR_ACH_TRAN OUTPUT ;

			IF @ERROR_ACH_TRAN=1
				BEGIN

					EXEC dbo.sp_EE_NOM_R_P_ACH_ORA @AN, @LUNA ;
					EXEC dbo.sp_EE_NOM_R_P_ACH_PROF_FIX  @AN, @LUNA, 'P2' ;
					EXEC dbo.sp_EE_NOM_R_P_ACH_PROF_REST  @AN, @LUNA, 'P1' ;

					DECLARE @CHECK BIT;
					SET @CHECK=dbo.fn_EE_NOM_R_VF_COST_ACH_DIF ( @AN,@LUNA);

					IF @CHECK=1
						BEGIN
							EXEC dbo.sp_EE_NOM_R_P_COST_ACH  @AN, @LUNA;
						END
					ELSE IF  @CHECK=0
						BEGIN
							DECLARE @MSG_1 VARCHAR(100);
							SET     @MSG_1='01- CANTITATEA / COSTUL DE ACHIZITIE NU A FOST CORECT ALOCATA ' ;
							EXEC    sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' , @MSG_1
							;THROW 500001,@MSG_1,1
						END

				END

			ELSE IF @ERROR_ACH_TRAN=0
				BEGIN
					DECLARE @MSG_2 VARCHAR(100);
					SET     @MSG_2='01- VA ROG SA CORECATI ERORILE ! ' ;
					EXEC    sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' , @MSG_2
					;THROW 500001,@MSG_2,1;
				END ;

END

GO
/

CREATE PROCEDURE [dbo].[master_EE_NOM_R_CALC_CANT_ORA]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		DECLARE @OBJECT_NAME  CHAR(100);
		SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
				
		DECLARE @ERROR_M_CURBA BIT ;
		EXEC dbo.sp_EE_NOM_R_VF_MAPARE_CURBA @AN, @LUNA, @ERROR_M_CURBA OUTPUT ;

		IF @ERROR_M_CURBA=1
			BEGIN
				EXEC dbo.sp_EE_NOM_R_P_CURBA @AN, @LUNA ;
				EXEC dbo.sp_EE_NOM_R_P_SUBPOR @AN, @LUNA;
				EXEC dbo.sp_EE_NOM_R_P_ALOC  @AN, @LUNA ;
			END
		ELSE IF @ERROR_M_CURBA=0
			BEGIN
				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1='01- VA ROG SA CORECATI ERORILE IN TABELA DE INPUT !' ;
				EXEC    sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' , @MSG_1
				;THROW 500001,@MSG_1,1;
			END ;

END

GO
/
CREATE PROCEDURE [dbo].[master_EE_NOM_R_CALC_COST_DISTR]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		DECLARE @OBJECT_NAME  CHAR(100);
		SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

		DECLARE @ERROR_TARIF_DISTR BIT  ;
		EXEC dbo.sp_EE_NOM_R_VF_TARIF_DISTR @AN, @LUNA, @ERROR_TARIF_DISTR OUTPUT ;

		IF @ERROR_TARIF_DISTR=1
			BEGIN
				EXEC dbo.sp_EE_NOM_R_P_COST_DISTR @AN, @LUNA ;
			END
		ELSE IF @ERROR_TARIF_DISTR=0
			BEGIN
				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1='01- VA ROG SA CORECATI ERORILE IN TABELA DE INPUT !' ;
				EXEC    sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' , @MSG_1
				;THROW 500001,@MSG_1,1;
			END
						
END

GO
/

CREATE PROCEDURE [dbo].[master_EE_NOM_R_CALC_MARJA]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		DECLARE @OBJECT_NAME  CHAR(100);
		SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

		EXEC dbo.sp_EE_NOM_R_P_GM  @AN, @LUNA ; 

-- HISTORICAL DATA PROCESSING IN MD TABLES ------------------------------------------------------------------

		DECLARE @PERIOADA CHAR(9);
		DECLARE @KPI_COD VARCHAR(2);

		SELECT  @PERIOADA= PER FROM AFC_INT_PER_CALC WHERE VERSIUNE_PLAN LIKE 'REAL%' AND YEAR(DATA_START_REALIZ)=@AN ;

		EXEC master_AFC_EE_INREG_REALIZ @PERIOADA ;

-- CALCULATE MONTHLY VOLUME DEVIATION --------------------------------------------------------------------------------

		DECLARE @PERIOADA_T1 CHAR(9);
		DECLARE @PERIOADA_T0 CHAR(9);
		DECLARE @LUNA_START INT ;
		DECLARE @LUNA_FINISH INT ;
		DECLARE @SURSA_DATE VARCHAR(50);

-- vs BUGET

		SET @PERIOADA_T1=@PERIOADA;
		SET @PERIOADA_T0='PER100030';
		SET @LUNA_START=@LUNA;
		SET @LUNA_FINISH=@LUNA;

		SET @SURSA_DATE='CONTRACT_ACTIV'; 
		EXEC dbo.sp_AFC_EE_P_DEV_CANT @PERIOADA_T1, @PERIOADA_T0, @LUNA_START, @LUNA_FINISH, @SURSA_DATE

		SET @SURSA_DATE='CONTRACT_SEMNAT'; 
		EXEC dbo.sp_AFC_EE_P_DEV_CANT @PERIOADA_T1, @PERIOADA_T0, @LUNA_START, @LUNA_FINISH, @SURSA_DATE

		SET @SURSA_DATE='POTENTIAL'; 
		EXEC dbo.sp_AFC_EE_P_DEV_CANT @PERIOADA_T1, @PERIOADA_T0, @LUNA_START, @LUNA_FINISH, @SURSA_DATE

-- vs FC

		SET @PERIOADA_T1=@PERIOADA;
		SET @PERIOADA_T0='PER100047';
		SET @LUNA_START=@LUNA;
		SET @LUNA_FINISH=@LUNA;

		SET @SURSA_DATE='CONTRACT_ACTIV'; 
		EXEC dbo.sp_AFC_EE_P_DEV_CANT @PERIOADA_T1, @PERIOADA_T0, @LUNA_START, @LUNA_FINISH, @SURSA_DATE

		SET @SURSA_DATE='CONTRACT_SEMNAT'; 
		EXEC dbo.sp_AFC_EE_P_DEV_CANT @PERIOADA_T1, @PERIOADA_T0, @LUNA_START, @LUNA_FINISH, @SURSA_DATE

		SET @SURSA_DATE='POTENTIAL'; 
		EXEC dbo.sp_AFC_EE_P_DEV_CANT @PERIOADA_T1, @PERIOADA_T0, @LUNA_START, @LUNA_FINISH, @SURSA_DATE

END


GO
/

CREATE PROCEDURE [dbo].[master_EE_NOM_R_CALC_SUBPOR]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		DECLARE @OBJECT_NAME  CHAR(100);
		SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;
					
		EXEC dbo.sp_EE_NOM_R_P_DATE_SUBPOR @AN, @LUNA;

END

GO
/
CREATE PROCEDURE [dbo].[master_EE_NOM_R_INREG]
( 
@AN	  SMALLINT,
@LUNA SMALLINT
 )
AS
BEGIN

		SET XACT_ABORT, NOCOUNT ON;
	
		DECLARE @OBJECT_NAME  CHAR(100);
		SET     @OBJECT_NAME=OBJECT_NAME(@@PROCID) ;

		DECLARE @ERROR_FACT BIT;
		DECLARE @ERROR_D_CUT_OFF BIT;
		DECLARE @ERROR_DIF BIT;
		DECLARE @ERROR_CD_CF BIT;

		EXEC dbo.sp_EE_NOM_R_VF_FACT @AN, @LUNA, @ERROR_FACT OUTPUT;
		EXEC dbo.sp_EE_NOM_R_VF_DELTA_CUT_OFF @AN, @LUNA, @ERROR_D_CUT_OFF OUTPUT;
		EXEC dbo.sp_EE_NOM_R_VF_DIF @AN, @LUNA, @ERROR_DIF OUTPUT;
		EXEC dbo.sp_EE_NOM_R_VF_CD_CF @AN, @LUNA, @ERROR_CD_CF OUTPUT;

		IF @ERROR_FACT=1 AND @ERROR_D_CUT_OFF=1 AND @ERROR_DIF=1 AND @ERROR_CD_CF=1
			BEGIN
				EXEC dbo.sp_EE_NOM_R_MAPARI @AN, @LUNA ;
				EXEC dbo.sp_EE_NOM_R_MARIMI @AN, @LUNA ;
			END

		ELSE IF @ERROR_FACT=0
			BEGIN
				DECLARE @MSG_1 VARCHAR(100);
				SET     @MSG_1='01- VA ROG SA CORECATI ERORILE IN TABELA DE FACT !' ;
				EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' , @MSG_1
				;THROW 500001,@MSG_1,1;
			END 

		ELSE IF @ERROR_D_CUT_OFF=0
			BEGIN
				DECLARE @MSG_2 VARCHAR(100);
				SET     @MSG_2='02- VA ROG SA CORECATI ERORILE IN TABELA DE DELTA CUT OFF !' ;
				EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' , @MSG_2
				;THROW 500001,@MSG_2,1;
			END 

	    ELSE IF @ERROR_DIF=0
			BEGIN
				DECLARE @MSG_3 VARCHAR(100);
				SET     @MSG_3='03- VA ROG SA CORECATI ERORILE IN TABELA DE DIF !' ;
				EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' , @MSG_3
				;THROW 500001,@MSG_3,1;
			END 

		 ELSE IF @ERROR_CD_CF=0
			BEGIN
				DECLARE @MSG_4 VARCHAR(100);
				SET     @MSG_4='04- VA ROG SA CORECATI ERORILE IN TABELA DE CD_CF !' ;
				EXEC  sp_EE_NOM_R_RECORD_LOG @AN, @LUNA, @OBJECT_NAME, 'EROARE' , @MSG_4
				;THROW 500001,@MSG_4,1;
			END 

END


GO
