CREATE TABLE [dbo].[EE_NOM_R_MAPARE_SUBPOR](
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[COD] [char](2) NOT NULL,
	[MOD_DE] [varchar](20) NOT NULL,
	[MOD_TIMP] [datetime] NULL,
 CONSTRAINT [PK_EE_NOM_R_MAPARE_SUBPOR] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MAPARI_CAEN](
	[CODINDUSTRIE] [char](4) NOT NULL,
	[DESCRIERECODINDUSTRIE] [varchar](255) NOT NULL,
 CONSTRAINT [EE_NOM_R_MAPARI_CAEN_PK] PRIMARY KEY CLUSTERED 
(
	[CODINDUSTRIE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MAPARI_INST](
	[PK_INST] [char](30) NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[REGIUNE_LC] [char](4) NOT NULL,
	[DIVIZIE] [char](2) NOT NULL,
	[PUNCTDECONSUM] [char](10) NOT NULL,
	[LOCALITATE] [varchar](255) NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[CODINDUSTRIE] [char](4) NULL,
	[DESCRIERECODINDUSTRIE] [varchar](255) NULL,
	[DELADATA] [date] NOT NULL,
	[PANALADATA] [date] NOT NULL,
 CONSTRAINT [PK_EE_NOM_R_MAPARI_INST] PRIMARY KEY CLUSTERED 
(
	[INSTALATIE] ASC,
	[DELADATA] ASC,
	[PANALADATA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MAPARI_PA](
	[PK_PA] [char](30) NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NOT NULL,
	[CUI] [char](22) NULL,
	[SUBSEGMENT] [char](10) NULL,
	[IDMANAGER] [varchar](50) NULL,
	[DENUMIREMANAGER] [varchar](100) NULL,
	[REGIUNE_PORTOFOLIU] [char](10) NULL,
	[DELADATA] [date] NOT NULL,
	[PANALADATA] [date] NOT NULL,
	[ENERGOINTENSIV] [char](2) NULL,
 CONSTRAINT [PK_EE_NOM_R_MAPARI_PA] PRIMARY KEY CLUSTERED 
(
	[PARTENERDEAFACERI] ASC,
	[DELADATA] ASC,
	[PANALADATA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MAPARI_STARE](
	[CATEGORIETARIF] [char](50) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
 CONSTRAINT [PK_EE_NOM_R_MAPARI_STARE_1] PRIMARY KEY CLUSTERED 
(
	[CATEGORIETARIF] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MAPARI_TIPCLIENT](
	[DENUMIREDISTRIBUITOR] [varchar](255) NOT NULL,
	[TIPCLIENT] [char](6) NOT NULL,
 CONSTRAINT [PK_EE_NOM_R_MAPARI_TIPCLIENT] PRIMARY KEY CLUSTERED 
(
	[DENUMIREDISTRIBUITOR] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MARIMI](
	[AN] [decimal](4, 0) NOT NULL,
	[LUNA] [decimal](2, 0) NOT NULL,
	[CATEGORIETARIF] [varchar](50) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[NIVELDETENSIUNE] [char](2) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[DELADATA] [date] NOT NULL,
	[PANALADATA] [date] NOT NULL,
	[DENUMIREDISTRIBUITOR] [varchar](255) NULL,
	[STARECLIENT] [char](20) NULL,
	[CANT_FACT] [decimal](38, 5) NULL,
	[CANT_DIF] [decimal](38, 5) NULL,
	[CANT_DELTA_CUT_OFF] [decimal](38, 5) NULL,
	[CANT_FACT_CD_CF] [decimal](38, 5) NULL,
	[CANT_DIF_CD_CF] [decimal](38, 5) NULL,
	[VALOAREFARACV_FACT] [decimal](38, 5) NULL,
	[BONUS_FACT] [decimal](38, 5) NULL,
	[ABATERE_FACT] [decimal](38, 5) NULL,
	[VALOAREFARACV_DIF] [decimal](38, 5) NULL,
	[VALOAREFARACV_DELTA_CUT_OFF] [decimal](38, 5) NULL,
	[TARIF_DISTR] [decimal](38, 5) NULL,
	[TARIF_CD_CF] [decimal](38, 5) NULL,
	[COST_DISTR_DELTA_CUT_OFF] [decimal](38, 5) NULL,
	[COST_DISTR] [decimal](38, 5) NULL,
	[TARIF_TRANS] [decimal](38, 5) NULL,
	[COST_TRANS] [decimal](38, 5) NULL,
	[TARIF_ACH_MEDIE] [decimal](38, 5) NULL,
	[COST_ACH_MEDIE] [decimal](38, 5) NULL,
	[TARIF_ACH_PROFILAT_INITIAL] [decimal](38, 5) NULL,
	[COST_ACH_PROFILAT_INITIAL] [decimal](38, 5) NULL,
	[TARIF_DELTA] [decimal](38, 5) NULL,
	[COST_DELTA] [decimal](38, 5) NULL,
	[COST_ACH_PROFILAT_FINAL] [decimal](38, 5) NULL,
	[TARIF_ACH_PROFILAT_FINAL] [decimal](38, 5) NULL,
	[RATING] [varchar](255) NULL,
	[LIMITACREDIT] [decimal](38, 5) NULL,
	[FK_PA] [char](30) NULL,
	[FK_INST] [char](30) NULL,
	[CANT_TOTAL] [decimal](38, 5) NULL,
	[VALOAREFARACV_TOTAL] [decimal](38, 5) NULL,
	[GROSS_MARGIN] [decimal](38, 5) NULL,
	[CURBA_ACTUAL] [char](50) NULL,
	[SUBPOR_ACTUAL] [char](2) NULL,
	[DELAANLUNAZI] [char](8) NULL,
 CONSTRAINT [PK_EE_NOM_R_MARIMI] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[LUNA] ASC,
	[CATEGORIETARIF] ASC,
	[PARTENERDEAFACERI] ASC,
	[INSTALATIE] ASC,
	[NIVELDETENSIUNE] ASC,
	[SEGMENTCLIENT] ASC,
	[DELADATA] ASC,
	[PANALADATA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MARIMI_ACH_ORA](
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[DATA_CONS] [datetime] NOT NULL,
	[TIP_ACH] [char](3) NOT NULL,
	[CANT_ACH_CONTR] [float] NULL,
	[COST_ACH_CONTR] [float] NULL,
	[COST_MED_ACH_CONTR] [float] NULL,
	[CANT_ACH_PZU] [float] NULL,
	[COST_ACH_PZU] [float] NULL,
	[COST_MED_ACH_PZU] [float] NULL,
	[COST_ACH_ECH] [float] NULL,
	[COST_MED_ACH_ECH] [float] NULL,
	[COST_ACH] [float] NULL,
	[COST_MED_ACH] [float] NULL,
	[PROCENT_CONTR] [float] NULL,
	[PROCENT_PZU] [float] NULL,
 CONSTRAINT [PK_EE_NOM_R_MARIMI_ACH_ORA] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[LUNA] ASC,
	[DATA_CONS] ASC,
	[TIP_ACH] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MARIMI_ACH_SUBPOR](
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[DATA_CONS] [datetime] NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[CURBA] [varchar](50) NOT NULL,
	[DATA_OFERTA] [date] NOT NULL,
	[VALABIL_DELA] [date] NOT NULL,
	[VALABIL_PANALA] [date] NOT NULL,
	[ZI_NUME_OFERTA] [varchar](20) NOT NULL,
	[ZI_SAPT_OFERTA] [smallint] NOT NULL,
	[DATA_ANTERIOR] [date] NOT NULL,
	[ZI_NUME_ANTERIOR] [varchar](20) NOT NULL,
	[ZI_SAPT_ANTERIOR] [smallint] NOT NULL,
	[CANT_OFERTA] [float] NULL,
	[CANT_BANDA_ORA] [float] NOT NULL,
	[PRET_BANDA_ORA] [float] NOT NULL,
	[DATA_PZU] [date] NOT NULL,
	[PRET_PZU] [float] NOT NULL,
 CONSTRAINT [PK_EE_NOM_R_MARIMI_ACH_SUBPOR] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[LUNA] ASC,
	[DATA_CONS] ASC,
	[PARTENERDEAFACERI] ASC,
	[CURBA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MARIMI_ALOC](
	[DATA_CONS] [datetime] NOT NULL,
	[INTERVAL_CONS] [char](4) NOT NULL,
	[AN] [smallint] NOT NULL,
	[LUNA] [smallint] NOT NULL,
	[LUNA_NUME] [char](20) NOT NULL,
	[ZI] [smallint] NOT NULL,
	[ZI_NUME] [char](20) NOT NULL,
	[ORA] [smallint] NOT NULL,
	[SUBPOR_ACTUAL] [char](2) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[CURBA_ACTUAL] [char](50) NOT NULL,
	[CANT_LUNA] [float] NOT NULL,
	[COEF] [float] NOT NULL,
	[CANT_ALOC] [float] NULL,
	[CANT_OFERTA] [float] NULL,
	[CANT_ACH_CONTR] [float] NULL,
	[COST_ACH_CONTR] [float] NULL,
	[COST_MED_ACH_CONTR] [float] NULL,
	[CANT_ACH_PZU] [float] NULL,
	[COST_ACH_PZU] [float] NULL,
	[COST_MED_ACH_PZU] [float] NULL,
	[COST_ACH_ECH] [float] NULL,
	[COST_MED_ACH_ECH] [float] NULL,
	[COST_ACH] [float] NULL,
	[COST_MED_ACH] [float] NULL,
	[CANT_BANDA] [float] NULL,
	[PRET_BANDA] [float] NULL,
	[PZU_HFC] [float] NULL,
	[VALABIL_OFERTA] [char](2) NULL,
 CONSTRAINT [PK_EE_NOM_R_MARIMI_ALOC] PRIMARY KEY CLUSTERED 
(
	[DATA_CONS] ASC,
	[AN] ASC,
	[LUNA] ASC,
	[SUBPOR_ACTUAL] ASC,
	[PARTENERDEAFACERI] ASC,
	[CURBA_ACTUAL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE TABLE [dbo].[EE_NOM_R_MARIMI_EVO](
	[AN] [decimal](4, 0) NOT NULL,
	[PARTENERDEAFACERI] [char](10) NOT NULL,
	[DENUMIREPARTENER] [varchar](255) NOT NULL,
	[INSTALATIE] [char](10) NOT NULL,
	[SEGMENTCLIENT] [char](3) NOT NULL,
	[STARECLIENT] [char](20) NOT NULL,
	[CANT_01] [decimal](38, 5) NULL,
	[CANT_02] [decimal](38, 5) NULL,
	[CANT_03] [decimal](38, 5) NULL,
	[CANT_04] [decimal](38, 5) NULL,
	[CANT_05] [decimal](38, 5) NULL,
	[CANT_06] [decimal](38, 5) NULL,
	[CANT_07] [decimal](38, 5) NULL,
	[CANT_08] [decimal](38, 5) NULL,
	[CANT_09] [decimal](38, 5) NULL,
	[CANT_10] [decimal](38, 5) NULL,
	[CANT_11] [decimal](38, 5) NULL,
	[CANT_12] [decimal](38, 5) NULL,
	[MRJ_01] [decimal](38, 5) NULL,
	[MRJ_02] [decimal](38, 5) NULL,
	[MRJ_03] [decimal](38, 5) NULL,
	[MRJ_04] [decimal](38, 5) NULL,
	[MRJ_05] [decimal](38, 5) NULL,
	[MRJ_06] [decimal](38, 5) NULL,
	[MRJ_07] [decimal](38, 5) NULL,
	[MRJ_08] [decimal](38, 5) NULL,
	[MRJ_09] [decimal](38, 5) NULL,
	[MRJ_10] [decimal](38, 5) NULL,
	[MRJ_11] [decimal](38, 5) NULL,
	[MRJ_12] [decimal](38, 5) NULL,
 CONSTRAINT [PK_EE_NOM_R_MARIMI_EVO] PRIMARY KEY CLUSTERED 
(
	[AN] ASC,
	[PARTENERDEAFACERI] ASC,
	[DENUMIREPARTENER] ASC,
	[INSTALATIE] ASC,
	[SEGMENTCLIENT] ASC,
	[STARECLIENT] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/
CREATE NONCLUSTERED COLUMNSTORE INDEX [EE_NOM_R_MARIMI_IND1] ON [dbo].[EE_NOM_R_MARIMI]
(
	[AN],
	[LUNA],
	[CURBA_ACTUAL],
	[DENUMIREDISTRIBUITOR],
	[SUBPOR_ACTUAL],
	[STARECLIENT]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
/
CREATE NONCLUSTERED COLUMNSTORE INDEX [EE_NOM_R_MARIMI_ALOC_IND1] ON [dbo].[EE_NOM_R_MARIMI_ALOC]
(
	[AN],
	[LUNA],
	[ORA],
	[SUBPOR_ACTUAL],
	[VALABIL_OFERTA]
)WITH (DROP_EXISTING = OFF, COMPRESSION_DELAY = 0) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EE_NOM_R_MAPARE_SUBPOR] ADD  CONSTRAINT [DF_EE_NOM_R_MAPARE_SUBPOR_MOD_TIMP]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [MOD_TIMP]
GO
