/
CREATE TABLE [dbo].[EE_NOM_R_LOG](
	[ID_PROCES] [int] IDENTITY(100,1) NOT NULL,
	[AN] [int] NOT NULL,
	[LUNA] [int] NOT NULL,
	[DATA_PROCESARE] [datetime] NOT NULL,
	[USER_PROCESARE] [char](50) NOT NULL,
	[NUME_PROCEDURA] [char](50) NOT NULL,
	[MESAJ] [varchar](1000) NULL,
 CONSTRAINT [PK_EE_NOM_R_LOG] PRIMARY KEY CLUSTERED 
(
	[ID_PROCES] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/

CREATE TABLE [dbo].[EE_NOM_R_LOG_C](
	[AN] [smallint] NULL,
	[LUNA] [smallint] NULL,
	[OBJECT_NAME] [char](100) NULL,
	[DATA_RUN] [datetime] NULL,
	[USER_RUN] [varchar](100) NULL,
	[MESAGE_TYPE] [varchar](30) NULL,
	[MESAGE_TEXT] [varchar](2000) NULL,
	[ORDINE] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_EE_NOM_R_LOG_C] PRIMARY KEY CLUSTERED 
(
	[ORDINE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO;
ALTER TABLE [dbo].[EE_NOM_R_LOG_C] ADD  CONSTRAINT [DF_EE_NOM_R_LOG_C_DATA_RUN]  DEFAULT (switchoffset(getdate(),'+03:00')) FOR [DATA_RUN]
GO;
ALTER TABLE [dbo].[EE_NOM_R_LOG_C] ADD  CONSTRAINT [DF_EE_NOM_R_LOG_C_USER_RUN]  DEFAULT (user_name()) FOR [USER_RUN]
GO

/

CREATE TRIGGER  [dbo].[EE_NOM_R_LOG_C_T1]  ON [dbo].[EE_NOM_R_LOG_C]
INSTEAD OF INSERT, UPDATE 
AS

BEGIN ;

-- for insert 

			INSERT INTO dbo.EE_NOM_R_LOG_C ( AN, LUNA, OBJECT_NAME,DATA_RUN,USER_RUN,
											 MESAGE_TYPE,MESAGE_TEXT,ORDINE)
			SELECT 
					AN, LUNA, OBJECT_NAME,switchoffset(getdate(),'+03:00') AS DATA_RUN,CURRENT_USER AS USER_RUN,
					MESAGE_TYPE,MESAGE_TEXT,next value for dbo.EE_NOM_R_LOG_SQ1  as ORDINE
			FROM    INSERTED i
			WHERE   NOT EXISTS ( SELECT * FROM DELETED WHERE DELETED.ORDINE=i.ORDINE ) ;

-- for update

			UPDATE a
			SET		  AN=i.AN,
					  LUNA=i.LUNA,
					  OBJECT_NAME=i.OBJECT_NAME,
					  DATA_RUN=switchoffset(getdate(),'+03:00'),
					  USER_RUN=CURRENT_USER,
					  MESAGE_TYPE=i.MESAGE_TYPE,
					  MESAGE_TEXT=i.MESAGE_TEXT
			FROM dbo.EE_NOM_R_LOG_C  a INNER JOIN INSERTED i ON a.ORDINE=i.ORDINE
			WHERE EXISTS ( SELECT * FROM DELETED WHERE DELETED.ORDINE=i.ORDINE )

END;
GO
ALTER TABLE [dbo].[EE_NOM_R_LOG_C] ENABLE TRIGGER [EE_NOM_R_LOG_C_T1]
GO
