CREATE VIEW [dbo].[vw_EE_NOM_R_ACH_POR_DATA_CONS]
AS
SELECT        AN, LUNA, IIF(ORA_CONS = '3.5', (CAST(CONVERT(CHAR(10), DATA_REF, 101) AS DATETIME) + CAST(TIMEFROMPARTS(ORA_CONS, 30, 0, 0, 0) AS DATETIME)), 
                         (CAST(CONVERT(CHAR(10), DATA_REF, 101) AS DATETIME) + CAST(TIMEFROMPARTS(ORA_CONS, 0, 0, 0, 0) AS DATETIME))) AS DATA_CONS
FROM            dbo.EE_NOM_R_INT_ACH_POR
GROUP BY AN, LUNA, DATA_REF, ORA_CONS  
GO
/
CREATE VIEW [dbo].[vw_EE_NOM_R_COST_MED_ACH_STARECLIENT]
AS
SELECT        AN, LUNA, STARECLIENT
FROM            dbo.EE_NOM_R_INT_ACH_MEDIE
GROUP BY AN, LUNA, STARECLIENT
GO
/
CREATE VIEW [dbo].[vw_EE_NOM_R_DATA_CONS]
AS
SELECT        AN, LUNA, DATA_CONS
FROM            dbo.EE_NOM_R_MARIMI_ALOC
GROUP BY AN, LUNA, DATA_CONS
GO
/
CREATE VIEW [dbo].[vw_EE_NOM_R_LIPSA_COEF]
AS
											SELECT DISTINCT CURBA FROM dbo.EE_NOM_R_INT_ACH_CANT_OFERTA
												EXCEPT
											SELECT DISTINCT CURBA FROM AFC_MD_DIM_COEF WHERE MOD_ID=1       
GO
/
CREATE VIEW [dbo].[vw_EE_NOM_R_LIPSA_HFC]
AS
SELECT        PARTENERDEAFACERI, DATA_OFERTA, DATA_ANTERIOR AS DATA_HFC
FROM            dbo.fn_EE_NOM_R_BANDA_DATA_OFERTA(2019, 6) AS fn_EE_NOM_R_BANDA_DATA_OFERTA_1
WHERE        (PARTENERDEAFACERI IN
                             (SELECT DISTINCT PARTENERDEAFACERI
                               FROM            dbo.EE_NOM_R_VF_MAPARE_SUBPOR
                               WHERE        (MESAJ_EROARE = 'PARTENERDEAFACERI : NU ARE ALOCAT HFC !')))
GROUP BY PARTENERDEAFACERI, DATA_OFERTA, DATA_ANTERIOR
GO
/
CREATE VIEW [dbo].[vw_EE_NOM_R_TARIF_TRANS_STARECLIENT]
AS
SELECT        AN, LUNA, STARECLIENT
FROM            dbo.EE_NOM_R_INT_TARIF_TRANS
GROUP BY AN, LUNA, STARECLIENT
GO
