CREATE FUNCTION [dbo].[fn_EE_NOM_R_BANDA_DATA_OFERTA] ( @AN SMALLINT, @LUNA SMALLINT )
RETURNS @RETURNTABLE TABLE ( PARTENERDEAFACERI CHAR(10),  DATA_OFERTA DATE, VALABIL_DELA DATE, VALABIL_PANALA DATE, ZI_NUME_OFERTA VARCHAR(20), ZI_SAPT_OFERTA INT, DATA_ANTERIOR DATE, ZI_NUME_ANTERIOR VARCHAR(20), ZI_SAPT_ANTERIOR INT,
							 CANT_BANDA_ORA FLOAT, PRET_BANDA_ORA FLOAT) 
AS
BEGIN

WITH src AS (		SELECT  PARTENERDEAFACERI,  
				    CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE) AS DATA_OFERTA,
					CAST(CONVERT(CHAR(10),VALABIL_DELA,101)AS DATE) AS VALABIL_DELA,
				    CAST(CONVERT(CHAR(10),VALABIL_PANALA,101)AS DATE) AS VALABIL_PANALA,
				    DATENAME( WEEKDAY , CONVERT(CHAR(10),DATA_OFERTA,101)) AS ZI_NUME_OFERTA ,
				    IIF(DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))=1,7,DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1) AS ZI_SAPT_OFERTA,
				    CASE WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=0 THEN DATEADD(DAY,-3, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
					     WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=1 THEN DATEADD(DAY,-3, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1 BETWEEN 2 AND 4 THEN DATEADD(DAY,-1, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=5 THEN DATEADD(DAY,-1, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=6 THEN DATEADD(DAY,-2, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 WHEN DATEPART( DW , CONVERT(CHAR(10),DATA_OFERTA,101))-1=7 THEN DATEADD(DAY,-3, CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE))
						 END
					 "DATA_ANTERIOR",
					 CANT_BANDA_ORA, PRET_BANDA_ORA
			FROM     dbo.EE_NOM_R_INT_ACH_SUBPOR_BANDA
			WHERE    AN=@AN AND LUNA=@LUNA
			GROUP BY PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA, CANT_BANDA_ORA, PRET_BANDA_ORA
			)

			INSERT INTO @RETURNTABLE
			SELECT PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA, ZI_NUME_OFERTA, ZI_SAPT_OFERTA, DATA_ANTERIOR, 
				   DATENAME( WEEKDAY , CONVERT(CHAR(10),DATA_ANTERIOR,101)) AS ZI_NUME_ANTERIOR,
				   DATEPART( DW , CONVERT(CHAR(10),DATA_ANTERIOR,101))-1 AS ZI_SAPT_ANTERIOR,
				   CANT_BANDA_ORA, PRET_BANDA_ORA
			FROM src
			GROUP BY PARTENERDEAFACERI, DATA_OFERTA, VALABIL_DELA, VALABIL_PANALA, ZI_NUME_OFERTA, ZI_SAPT_OFERTA,  DATA_ANTERIOR, CANT_BANDA_ORA, PRET_BANDA_ORA

RETURN
END
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_CALC_ECH] ( @AN SMALLINT, @LUNA SMALLINT )
RETURNS @RETURNTABLE TABLE ( AN SMALLINT, LUNA SMALLINT, CANT_ALOC FLOAT, COST_ACH_ECH FLOAT , COST_MED_ACH_ECH FLOAT ) 
AS
BEGIN
	    
		WITH aloc AS (
						SELECT AN, LUNA, SUM(CANT_ALOC) CANT_ALOC  
						FROM EE_NOM_R_MARIMI_ALOC 
						WHERE SUBPOR_ACTUAL!='P3' AND AN=@AN AND LUNA=@LUNA
						GROUP BY AN, LUNA
				),
			cost AS (
						SELECT AN, LUNA, SUM(COST_ACH_ECH) COST_ACH_ECH  
						FROM EE_NOM_R_MARIMI_ACH_ORA 
						WHERE AN=@AN AND LUNA=@LUNA
						GROUP BY AN, LUNA
						)

			INSERT INTO @RETURNTABLE
			SELECT aloc.AN , aloc.LUNA, SUM(aloc.CANT_ALOC) CANT_ALOC , SUM(cost.COST_ACH_ECH) COST_ACH_ECH,
					SUM(cost.COST_ACH_ECH)/SUM(aloc.CANT_ALOC) COST_MED_ACH_ECH
			FROM   aloc, cost
			GROUP BY aloc.AN , aloc.LUNA

RETURN
END
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_CANT_ALOC_CHECK] ( @AN SMALLINT, @LUNA SMALLINT )
RETURNS @RETURNTABLE TABLE ( AN SMALLINT, LUNA SMALLINT, PARTENERDEAFACERI CHAR(10), CANT_LUNA DECIMAL(10,3), CANT_ALOC DECIMAL(10,3), CANT_DIF DECIMAL(10,0) )
AS
BEGIN


	WITH cant_luna AS (
						SELECT AN, LUNA, PARTENERDEAFACERI, SUM(ISNULL(CANT_TOTAL,0)-ISNULL(CANT_FACT_CD_CF,0)-ISNULL(CANT_DIF_CD_CF,0)) AS CANT_LUNA
						FROM	 dbo.EE_NOM_R_MARIMI
						WHERE	 AN=@AN AND LUNA=@LUNA AND STARECLIENT='ELIGIBIL'
						GROUP BY AN,LUNA,PARTENERDEAFACERI
							UNION ALL
						SELECT AN, LUNA, ID_INST PARTENERDEAFACERI, SUM(CANT_FARA_CD_CF) AS CANT_LUNA
						FROM	 dbo.EE_NOM_R_INT_MM_CANT
						WHERE	 AN=@AN AND LUNA=@LUNA
						GROUP BY AN,LUNA,ID_INST
					  ),
		 cant_aloc AS (
						SELECT AN, LUNA, PARTENERDEAFACERI, SUM(CANT_ALOC) AS CANT_ALOC
						FROM	 dbo.EE_NOM_R_MARIMI_ALOC
						WHERE	 AN=@AN AND LUNA=@LUNA
						GROUP BY AN,LUNA,PARTENERDEAFACERI
					   )

		INSERT INTO @RETURNTABLE
		SELECT   cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI, 
					CAST(SUM(cant_luna.CANT_LUNA) AS DECIMAL(10,3)) CANT_LUNA, 
					CAST(SUM(cant_aloc.CANT_ALOC) AS DECIMAL(10,3)) CANT_ALOC, 
					CAST(SUM(cant_luna.CANT_LUNA)-SUM(cant_aloc.CANT_ALOC) AS DECIMAL(10,0)) CANT_DIF
		FROM	 cant_luna, cant_aloc
		WHERE	 cant_aloc.AN=cant_luna.AN AND cant_aloc.LUNA=cant_luna.LUNA AND cant_aloc.PARTENERDEAFACERI=cant_luna.PARTENERDEAFACERI 
		GROUP BY cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI
		ORDER BY cant_luna.AN, cant_luna.LUNA, cant_luna.PARTENERDEAFACERI

RETURN
END
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_CANT_OFERTA] (@AN SMALLINT, @LUNA SMALLINT )
RETURNS @RETURNTABLE TABLE ( PARTENERDEAFACERI CHAR(10),  VALABIL_CANT_DELA DATE, VALABIL_CANT_PANALA DATE, VALABIL_OFERTA_DELA DATE, VALABIL_OFERTA_PANALA DATE, VALABIL BIT ) 
AS
BEGIN
WITH cant AS (
				SELECT LUNA, PARTENERDEAFACERI, CURBA, CANT_OFERTA  
				FROM 
					(
					SELECT  PARTENERDEAFACERI, CURBA,
							SUM(L_01) AS [1], SUM(L_02) AS [2], SUM(L_03) AS [3], SUM(L_04) AS [4], SUM(L_05) AS [5], SUM(L_06) AS [6], 
							SUM(L_07) AS [7], SUM(L_08) AS [8], SUM(L_09) AS [9], SUM(L_10) AS [10], SUM(L_11) AS [11], SUM(L_12) AS [12]
					FROM     dbo.EE_NOM_R_INT_ACH_CANT_OFERTA
					WHERE   AN_RAPORT=@AN AND LUNA_RAPORT=@LUNA
					GROUP BY PARTENERDEAFACERI, CURBA
						) AS t
				UNPIVOT ( CANT_OFERTA FOR LUNA IN ( [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12] )) AS CANT_OFERTA
			  ),
	 ofer AS (
				 SELECT		PARTENERDEAFACERI, VALABIL_DELA VALABIL_OFERTA_DELA, VALABIL_PANALA VALABIL_OFERTA_PANALA
				 FROM		dbo.EE_NOM_R_INT_ACH_SUBPOR_BANDA
				 WHERE      AN=@AN AND LUNA=@LUNA
				 GROUP BY   PARTENERDEAFACERI, VALABIL_DELA , VALABIL_PANALA
			 )
	
INSERT INTO 	@RETURNTABLE
SELECT			cant.PARTENERDEAFACERI,
				MIN(DATEFROMPARTS(@AN, cant.LUNA, 1)) VALABIL_CANT_DELA, MAX(DATEFROMPARTS(@AN, cant.LUNA, 1)) VALABIL_CANT_PANALA,
				ofer.VALABIL_OFERTA_DELA, ofer.VALABIL_OFERTA_PANALA,
				 CASE WHEN  MIN(DATEFROMPARTS(@AN, cant.LUNA, 1)) BETWEEN  DATEFROMPARTS(YEAR(ofer.VALABIL_OFERTA_DELA),MONTH(ofer.VALABIL_OFERTA_DELA),1) 
																								AND 
																		DATEFROMPARTS(YEAR(ofer.VALABIL_OFERTA_PANALA),MONTH(ofer.VALABIL_OFERTA_PANALA),1) 						
					  AND
					  MAX(DATEFROMPARTS(@AN, cant.LUNA, 1)) BETWEEN  DATEFROMPARTS(YEAR(ofer.VALABIL_OFERTA_DELA),MONTH(ofer.VALABIL_OFERTA_DELA),1) 
																								AND 
																		DATEFROMPARTS(YEAR(ofer.VALABIL_OFERTA_PANALA),MONTH(ofer.VALABIL_OFERTA_PANALA),1)
					  
				THEN 1 
				ELSE 0
				END
				"VALABIL"
FROM       cant, ofer
WHERE      cant.PARTENERDEAFACERI=ofer.PARTENERDEAFACERI 
GROUP BY   cant.PARTENERDEAFACERI, ofer.VALABIL_OFERTA_DELA, ofer.VALABIL_OFERTA_PANALA

RETURN
END
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_PZU_DATA_OFERTA] (@AN SMALLINT, @LUNA SMALLINT)
RETURNS @RETURNTABLE TABLE ( DATA_OFERTA DATE, VALABIL_DELA DATE, VALABIL_PANALA DATE ) 
AS
BEGIN
WITH src AS (
				SELECT	 CAST(CONVERT(CHAR(10),DATA_OFERTA,101)AS DATE) AS DATA_OFERTA,
						 CAST(CONVERT(CHAR(10),DATA_REF,101)AS DATE) AS DATA_REF
				FROM	 dbo.EE_NOM_R_INT_ACH_SUBPOR_PZU
				WHERE    AN_RAPORT=@AN AND LUNA_RAPORT=@LUNA
				GROUP BY DATA_OFERTA, DATA_REF
			 )
		    
			INSERT INTO @RETURNTABLE
			SELECT DATA_OFERTA, MIN(DATA_REF) AS VALABIL_DELA, MAX(DATA_REF) AS VALABIL_PANALA
			FROM src
			GROUP BY DATA_OFERTA

RETURN
END
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_STARECLIENT] ( @AN SMALLINT, @LUNA SMALLINT )
RETURNS @RETURNTABLE TABLE ( AN SMALLINT, LUNA SMALLINT, STARECLIENT CHAR(20) ) 
AS
BEGIN
	    
			INSERT INTO @RETURNTABLE
			SELECT   AN, LUNA, STARECLIENT 
			FROM	 dbo.EE_NOM_R_MARIMI 
			WHERE	 AN=@AN AND LUNA=@LUNA
			GROUP BY AN, LUNA, STARECLIENT 

RETURN
END
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_VF_COST_ACH_DIF]
(
@AN SMALLINT,
@LUNA SMALLINT
) 
RETURNS BIT
AS 
BEGIN

			DECLARE  @VAL_ACH_TOTAL FLOAT;
			DECLARE  @VAL_ACH_ALOC FLOAT;
			DECLARE  @DIF FLOAT;
			DECLARE  @CHECK BIT;

			SELECT   @VAL_ACH_TOTAL=SUM(ISNULL(COST_ACH,0)) FROM EE_NOM_R_MARIMI_ACH_ORA WHERE AN=@AN AND LUNA=@LUNA;
			SELECT   @VAL_ACH_ALOC=SUM(ISNULL(COST_ACH,0)) FROM EE_NOM_R_MARIMI_ALOC WHERE AN=@AN AND LUNA=@LUNA ;
			SELECT   @DIF=@VAL_ACH_TOTAL-@VAL_ACH_ALOC ;

			IF @DIF BETWEEN -100 AND 100 SET @CHECK=1 ;
			ELSE SET @CHECK=0 ;

RETURN @CHECK;

END;
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_VF_COST_ACH_TRANS]  
( 
@AN SMALLINT,
@LUNA SMALLINT
)
RETURNS @RETURNTABLE TABLE ( AN SMALLINT, LUNA SMALLINT, MESAJ_EROARE VARCHAR(MAX) )
AS
BEGIN

		
-- CHECK INTERVAL EE_NOM_R_MARIMI_ALOC vs EE_NOM_R_INT_ACH_POR

DECLARE @EROR_1 NVARCHAR(100)='LIPSA INTERVAL DIN FISIERUL DE ACHIZITIE'
DECLARE @SIR_CONT_1 NVARCHAR(MAX);

WITH a AS (
			SELECT tgt.DATA_CONS AS LIPSA
			FROM ( SELECT DISTINCT DATA_CONS FROM dbo.vw_EE_NOM_R_DATA_CONS WHERE AN=@AN AND LUNA=@LUNA ) tgt
			FULL OUTER JOIN ( SELECT DISTINCT DATA_CONS FROM dbo.vw_EE_NOM_R_ACH_POR_DATA_CONS WHERE AN=@AN AND LUNA=@LUNA ) src
			ON tgt.DATA_CONS=src.DATA_CONS
			WHERE src.DATA_CONS IS NULL
			)

	SELECT @SIR_CONT_1=CONCAT_WS(',',@SIR_CONT_1,a.LIPSA) FROM a ;

	INSERT INTO @RETURNTABLE 
	SELECT @AN, @LUNA , @EROR_1+' : '+@SIR_CONT_1 

-- CHECK INTERVAL EE_NOM_R_INT_ACH_POR vs EE_NOM_R_MARIMI_ALOC

DECLARE @EROR_2 NVARCHAR(100)='PLUS INTERVAL IN FISIERUL DE ACHIZITIE';
DECLARE @SIR_CONT_2 NVARCHAR(MAX);

WITH b AS (
			SELECT tgt.DATA_CONS AS LIPSA
			FROM ( SELECT DISTINCT DATA_CONS FROM dbo.vw_EE_NOM_R_ACH_POR_DATA_CONS WHERE AN=@AN AND LUNA=@LUNA )tgt
			FULL OUTER JOIN ( SELECT DISTINCT DATA_CONS FROM dbo.vw_EE_NOM_R_DATA_CONS WHERE AN=@AN AND LUNA=@LUNA ) src
			ON tgt.DATA_CONS=src.DATA_CONS
			WHERE src.DATA_CONS IS NULL
			)

	SELECT @SIR_CONT_2=CONCAT_WS(',',@SIR_CONT_2,b.LIPSA) FROM b ;

		INSERT INTO @RETURNTABLE 
	    SELECT @AN, @LUNA, @EROR_2+' : '+@SIR_CONT_2 

-- CHECK CUSTOMER STATUS IN TABEL EE_NOM_R_INT_ACH_MEDIE

DECLARE @EROR_3 NVARCHAR(100)='NU ESTE DEFINITA COSTUL MEDIU DE ACHIZITIE PENTRU STARECLIENT';
DECLARE @SIR_CONT_3 NVARCHAR(MAX);

WITH c AS (
			SELECT tgt.STARECLIENT AS LIPSA
			FROM ( SELECT DISTINCT STARECLIENT FROM dbo.fn_EE_NOM_R_STARECLIENT ( @AN, @LUNA ) WHERE STARECLIENT NOT IN ('ELIGIBIL','AGENTFUI','AGENTSU') ) tgt
			FULL OUTER JOIN ( SELECT DISTINCT STARECLIENT FROM dbo.vw_EE_NOM_R_COST_MED_ACH_STARECLIENT WHERE AN=@AN AND LUNA=@LUNA ) src
			ON tgt.STARECLIENT=src.STARECLIENT 
			WHERE src.STARECLIENT IS NULL 
			)

	SELECT @SIR_CONT_3=CONCAT_WS(',',@SIR_CONT_3,c.LIPSA) FROM c ;

	INSERT INTO @RETURNTABLE 
	SELECT @AN, @LUNA , @EROR_3+' : '+@SIR_CONT_3 

-- CHECK CUSTOMER STATUS IN TABEL AFC_EE_INT_TARIF_TRANS

DECLARE @EROR_4 NVARCHAR(100)='NU ESTE DEFINITA TARIFUL DE TRANSPORT PENTRU STARECLIENT';
DECLARE @SIR_CONT_4 NVARCHAR(MAX);

WITH d AS (
			SELECT tgt.STARECLIENT AS LIPSA
			FROM ( SELECT DISTINCT STARECLIENT FROM dbo.fn_EE_NOM_R_STARECLIENT ( @AN, @LUNA) ) tgt
			FULL OUTER JOIN ( SELECT DISTINCT STARECLIENT FROM dbo.vw_EE_NOM_R_TARIF_TRANS_STARECLIENT WHERE AN=@AN AND LUNA=@LUNA ) src
			ON tgt.STARECLIENT=src.STARECLIENT 
			WHERE src.STARECLIENT IS NULL 
			)

	SELECT @SIR_CONT_4=CONCAT_WS(',',@SIR_CONT_4,d.LIPSA) FROM d ;

    INSERT INTO @RETURNTABLE 
	SELECT @AN, @LUNA , @EROR_4+' : '+@SIR_CONT_4 

RETURN
END
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_LOG] 
( 
@AN SMALLINT,
@LUNA SMALLINT,
@SP_NUME CHAR(100)
)
RETURNS TABLE 
AS
RETURN

	
	SELECT AN, LUNA, [OBJECT_NAME], DATA_RUN, USER_RUN, MESAGE_TYPE, MESAGE_TEXT, ORDINE
	FROM dbo.EE_NOM_R_LOG_C
	WHERE AN=@AN AND LUNA=@LUNA AND [OBJECT_NAME] IN 
							( 
							  SELECT DISTINCT referenced_entity_name 
							  FROM sys.dm_sql_referenced_entities ( @SP_NUME , 'OBJECT')
								UNION ALL
							  SELECT REPLACE(@SP_NUME,'dbo.','')
							)                                                                                  
	GROUP BY AN, LUNA, [OBJECT_NAME], DATA_RUN,USER_RUN,MESAGE_TYPE,MESAGE_TEXT, ORDINE

GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_VF_CD_CF]  
(
@AN   SMALLINT ,
@LUNA SMALLINT
 )
RETURNS TABLE
AS
RETURN
		SELECT        'TIPMARIME : CAMP OBLIGATORIU TREBUIE SA FIE EE_FACT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND TIPMARIME!='EE_FACT'
			UNION ALL
		SELECT        'INVOICINGPARTY:  NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND INVOICINGPARTY NOT IN ( SELECT DISTINCT COD FROM AFC_INT_INVOICINGPARTY )
			UNION ALL
		SELECT        'CODCOMPANIE:  NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND CODCOMPANIE NOT IN ( SELECT DISTINCT COD FROM AFC_INT_CODCOMPANIE )
			UNION ALL
		SELECT        'REGIUNE_LC : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM          dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE         AN=@AN AND LUNA=@LUNA AND ( REGIUNE_LC NOT IN  ( SELECT DISTINCT COD FROM dbo.AFC_INT_REG_LC src )
																						OR REGIUNE_LC=' '
																						OR REGIUNE_LC IS NULL )											
			UNION ALL
		SELECT        'PARTENERDEAFACERI: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND LEN(PARTENERDEAFACERI) <> 10 OR PARTENERDEAFACERI IS NULL
			UNION ALL
		SELECT        'DENUMIREPARTENER: CAMP OBLIGATORIU !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND DENUMIREPARTENER IS NULL OR  DENUMIREPARTENER = ''
			UNION ALL
		SELECT        'INSTALATIE: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND LEN(INSTALATIE) <> 10 OR INSTALATIE IS NULL
			UNION ALL
		SELECT        'PUNCTDECONSUM: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND LEN(PUNCTDECONSUM) <> 10 OR PUNCTDECONSUM IS NULL
			UNION ALL
		SELECT        'DELADATA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ISDATE(CONVERT(CHAR(10),DELADATA,101)) != 1
			UNION ALL
		SELECT        'PANALADATA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ISDATE(CONVERT(CHAR(10),PANALADATA,101)) != 1
			UNION ALL
		SELECT        'CATEGORIETARIF : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, *
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND CATEGORIETARIF NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_STARE )
			UNION ALL
		SELECT        'NIVELDETENSIUNE: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND NIVELDETENSIUNE NOT IN ( SELECT DISTINCT COD FROM  dbo.AFC_INT_NT src ) 
			UNION ALL
		SELECT        'DENUMIREDISTRIBUITOR : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND DENUMIREDISTRIBUITOR NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_TIP )
			UNION ALL
		SELECT        'SEGMENTCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE		   AN=@AN AND LUNA=@LUNA AND SEGMENTCLIENT NOT IN (	SELECT DISTINCT COD	FROM dbo.AFC_INT_SEGMENT src )
			UNION ALL
		SELECT        'STARECLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND STARECLIENT IS NULL OR STARECLIENT NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_STARE src )
			UNION ALL
		SELECT        'DIVIZIE : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE	       AN=@AN AND LUNA=@LUNA AND DIVIZIE NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_DIVIZIE src )
			UNION ALL
		SELECT        'TIPCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt
		WHERE	       AN=@AN AND LUNA=@LUNA AND TIPCLIENT NOT IN ( SELECT DISTINCT TIP FROM dbo.AFC_INT_TIP src )
			UNION ALL
		SELECT        'STARECLIENT : NUME STARECLIENT DIFERA DE CEL DEFINIT IN TABELA DE INPUT' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT_CD_CF tgt, dbo.AFC_INT_STARE src				
		WHERE          tgt.AN=@AN AND tgt.LUNA=@LUNA AND 
					   tgt.CATEGORIETARIF=src.COD AND
					   tgt.STARECLIENT<>src.NUME
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_VF_DELTA_CUT_OFF]  
(
@AN   SMALLINT ,
@LUNA SMALLINT
 )
RETURNS TABLE
AS
RETURN
		SELECT        'TIPMARIME : CAMP OBLIGATORIU TREBUIE SA FIE EE_DELTA_CUT_OFF !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND TIPMARIME!='EE_DELTA_CUT_OFF'
			UNION ALL
		SELECT        'INVOICINGPARTY:  NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND INVOICINGPARTY NOT IN ( SELECT DISTINCT COD FROM AFC_INT_INVOICINGPARTY )
			UNION ALL
		SELECT        'CODCOMPANIE:  NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND CODCOMPANIE NOT IN ( SELECT DISTINCT COD FROM AFC_INT_CODCOMPANIE )
			UNION ALL
		SELECT        'REGIUNE_LC : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM          dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE         AN=@AN AND LUNA=@LUNA AND ( REGIUNE_LC NOT IN  ( SELECT DISTINCT COD FROM dbo.AFC_INT_REG_LC src )
																						OR REGIUNE_LC=' '
																						OR REGIUNE_LC IS NULL )											
			UNION ALL
		SELECT        'PARTENERDEAFACERI: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND LEN(PARTENERDEAFACERI) <> 10 OR PARTENERDEAFACERI IS NULL
			UNION ALL
		SELECT        'DENUMIREPARTENER: CAMP OBLIGATORIU !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND DENUMIREPARTENER IS NULL OR  DENUMIREPARTENER = ''
			UNION ALL
		SELECT        'INSTALATIE: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND LEN(INSTALATIE) <> 10 OR INSTALATIE IS NULL
			UNION ALL
		SELECT        'PUNCTDECONSUM: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND LEN(PUNCTDECONSUM) <> 10 OR PUNCTDECONSUM IS NULL
			UNION ALL
		SELECT        'DELADATA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ISDATE(CONVERT(CHAR(10),DELADATA,101)) != 1
			UNION ALL
		SELECT        'PANALADATA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ISDATE(CONVERT(CHAR(10),PANALADATA,101)) != 1
			UNION ALL
		SELECT        'CATEGORIETARIF : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, *
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND CATEGORIETARIF NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_STARE )
			UNION ALL
		SELECT        'NIVELDETENSIUNE: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND NIVELDETENSIUNE NOT IN ( SELECT DISTINCT COD FROM  dbo.AFC_INT_NT src ) 
			UNION ALL
		SELECT        'DENUMIREDISTRIBUITOR : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND DENUMIREDISTRIBUITOR NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_TIP )
			UNION ALL
		SELECT        'SEGMENTCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE		   AN=@AN AND LUNA=@LUNA AND SEGMENTCLIENT NOT IN (	SELECT DISTINCT COD	FROM dbo.AFC_INT_SEGMENT src )
			UNION ALL
		SELECT        'STARECLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND STARECLIENT IS NULL OR STARECLIENT NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_STARE src )
			UNION ALL
		SELECT        'DIVIZIE : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE	       AN=@AN AND LUNA=@LUNA AND DIVIZIE NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_DIVIZIE src )
			UNION ALL
		SELECT        'TIPCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt
		WHERE	       AN=@AN AND LUNA=@LUNA AND TIPCLIENT NOT IN ( SELECT DISTINCT TIP FROM dbo.AFC_INT_TIP src )
			UNION ALL
		SELECT        'STARECLIENT : NUME STARECLIENT DIFERA DE CEL DEFINIT IN TABELA DE INPUT' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DELTA_CUT_OFF tgt, dbo.AFC_INT_STARE src				
		WHERE          tgt.AN=@AN AND tgt.LUNA=@LUNA AND 
					   tgt.CATEGORIETARIF=src.COD AND
					   tgt.STARECLIENT<>src.NUME
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_VF_DIF]  
(
@AN   SMALLINT ,
@LUNA SMALLINT
 )
RETURNS TABLE
AS
RETURN
		SELECT        'TIPMARIME : CAMP OBLIGATORIU TREBUIE SA FIE EE_DIF !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND TIPMARIME!='EE_DIF'
			UNION ALL
		SELECT        'INVOICINGPARTY:  NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND INVOICINGPARTY NOT IN ( SELECT DISTINCT COD FROM AFC_INT_INVOICINGPARTY )
			UNION ALL
		SELECT        'CODCOMPANIE:  NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND CODCOMPANIE NOT IN ( SELECT DISTINCT COD FROM AFC_INT_CODCOMPANIE )
			UNION ALL
		SELECT        'REGIUNE_LC : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM          dbo.EE_NOM_R_INT_DIF tgt
		WHERE         AN=@AN AND LUNA=@LUNA AND ( REGIUNE_LC NOT IN  ( SELECT DISTINCT COD FROM dbo.AFC_INT_REG_LC src )
																						OR REGIUNE_LC=' '
																						OR REGIUNE_LC IS NULL )											
			UNION ALL
		SELECT        'PARTENERDEAFACERI: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND LEN(PARTENERDEAFACERI) <> 10 OR PARTENERDEAFACERI IS NULL
			UNION ALL
		SELECT        'DENUMIREPARTENER: CAMP OBLIGATORIU !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND DENUMIREPARTENER IS NULL OR  DENUMIREPARTENER = ''
			UNION ALL
		SELECT        'INSTALATIE: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND LEN(INSTALATIE) <> 10 OR INSTALATIE IS NULL
			UNION ALL
		SELECT        'PUNCTDECONSUM: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND LEN(PUNCTDECONSUM) <> 10 OR PUNCTDECONSUM IS NULL
			UNION ALL
		SELECT        'DELADATA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ISDATE(CONVERT(CHAR(10),DELADATA,101)) != 1
			UNION ALL
		SELECT        'PANALADATA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ISDATE(CONVERT(CHAR(10),PANALADATA,101)) != 1
			UNION ALL
		SELECT        'CATEGORIETARIF : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, *
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND CATEGORIETARIF NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_STARE )
			UNION ALL
		SELECT        'NIVELDETENSIUNE: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND NIVELDETENSIUNE NOT IN ( SELECT DISTINCT COD FROM  dbo.AFC_INT_NT src ) 
			UNION ALL
		SELECT        'DENUMIREDISTRIBUITOR : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND DENUMIREDISTRIBUITOR NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_TIP )
			UNION ALL
		SELECT        'SEGMENTCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE		   AN=@AN AND LUNA=@LUNA AND SEGMENTCLIENT NOT IN (	SELECT DISTINCT COD	FROM dbo.AFC_INT_SEGMENT src )
			UNION ALL
		SELECT        'STARECLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND STARECLIENT IS NULL OR STARECLIENT NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_STARE src )
			UNION ALL
		SELECT        'DIVIZIE : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE	       AN=@AN AND LUNA=@LUNA AND DIVIZIE NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_DIVIZIE src )
			UNION ALL
		SELECT        'TIPCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt
		WHERE	       AN=@AN AND LUNA=@LUNA AND TIPCLIENT NOT IN ( SELECT DISTINCT TIP FROM dbo.AFC_INT_TIP src )
			UNION ALL
		SELECT        'STARECLIENT : NUME STARECLIENT DIFERA DE CEL DEFINIT IN TABELA DE INPUT' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_DIF tgt, dbo.AFC_INT_STARE src				
		WHERE          tgt.AN=@AN AND tgt.LUNA=@LUNA AND 
					   tgt.CATEGORIETARIF=src.COD AND
					   tgt.STARECLIENT<>src.NUME
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_VF_FACT]  
(
@AN   SMALLINT ,
@LUNA SMALLINT
 )
RETURNS TABLE
AS
RETURN
		SELECT        'TIPMARIME : CAMP OBLIGATORIU TREBUIE SA FIE EE_FACT !' AS MESAJ_EROARE, tgt.*
		FROM            dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND TIPMARIME!='EE_FACT'
			UNION ALL
		SELECT        'INVOICINGPARTY:  NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND INVOICINGPARTY NOT IN ( SELECT DISTINCT COD FROM AFC_INT_INVOICINGPARTY )
			UNION ALL
		SELECT        'CODCOMPANIE:  NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND CODCOMPANIE NOT IN ( SELECT DISTINCT COD FROM AFC_INT_CODCOMPANIE )
			UNION ALL
		SELECT        'REGIUNE_PORTOFOLIU : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM          dbo.EE_NOM_R_INT_FACT tgt
		WHERE         AN=@AN AND LUNA=@LUNA AND ( REGIUNE_PORTOFOLIU NOT IN  ( SELECT DISTINCT COD FROM dbo.AFC_INT_REG_PORTOF src )
																						OR REGIUNE_PORTOFOLIU=' '
																						OR REGIUNE_PORTOFOLIU IS NULL )											
			UNION ALL
		SELECT        'PARTENERDEAFACERI: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND LEN(PARTENERDEAFACERI) <> 10 OR PARTENERDEAFACERI IS NULL
			UNION ALL
		SELECT        'DENUMIREPARTENER: CAMP OBLIGATORIU !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND DENUMIREPARTENER IS NULL OR  DENUMIREPARTENER = ''
			UNION ALL
		SELECT        'IDMANAGER:  NU ESTE DEFINITA IN TABELA DE INPUT  !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND IDMANAGER IS NULL OR IDMANAGER NOT IN (	SELECT DISTINCT IDMANAGER FROM dbo.AFC_INT_MANAGER src )
			UNION ALL
		SELECT        'CUI: CAMP OBLIGATORIU !' AS MESAJ_EROARE, tgt.*
		FROM          dbo.EE_NOM_R_INT_FACT tgt
		WHERE         AN=@AN AND LUNA=@LUNA AND CUI IS NULL OR CUI = ''
			UNION ALL
		SELECT        'INSTALATIE: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND LEN(INSTALATIE) <> 10 OR INSTALATIE IS NULL
			UNION ALL
		SELECT        'PUNCTDECONSUM: CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE 10 !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA  AND LEN(PUNCTDECONSUM) <> 10 OR PUNCTDECONSUM IS NULL
			UNION ALL
		SELECT        'CAEN : CAMP OBLIGATORIU SI/SAU NR DE CHAR TREBUIE SA FIE MIN 3 SI MAX 4 !' AS MESAJ_EROARE, *
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ( LEN(CODINDUSTRIE) NOT BETWEEN 3 AND 4 OR CODINDUSTRIE IS NULL )
			UNION ALL
		SELECT        'DELADATA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ISDATE(CONVERT(CHAR(10),DELADATA,101)) != 1
			UNION ALL
		SELECT        'PANALADATA: CAMP OBLIGATORIU / TREBUIE SA FIE DE TIP DATA!' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND ISDATE(CONVERT(CHAR(10),PANALADATA,101)) != 1
			UNION ALL
		SELECT        'CATEGORIETARIF : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, *
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND CATEGORIETARIF NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_STARE )
			UNION ALL
		SELECT        'NIVELDETENSIUNE: NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND NIVELDETENSIUNE NOT IN ( SELECT DISTINCT COD FROM  dbo.AFC_INT_NT src ) 
			UNION ALL
		SELECT        'DENUMIREDISTRIBUITOR : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND DENUMIREDISTRIBUITOR NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_TIP )
			UNION ALL
		SELECT        'SEGMENTCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE		   AN=@AN AND LUNA=@LUNA AND SEGMENTCLIENT NOT IN (	SELECT DISTINCT COD	FROM dbo.AFC_INT_SEGMENT src )
			UNION ALL
		SELECT        'SUBSEGMENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND SUBSEGMENT IS NULL OR SUBSEGMENT NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_SUBSEGMENT src )
			UNION ALL
		SELECT        'STARECLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE          AN=@AN AND LUNA=@LUNA AND STARECLIENT IS NULL OR STARECLIENT NOT IN ( SELECT DISTINCT NUME FROM dbo.AFC_INT_STARE src )
			UNION ALL
		SELECT        'DIVIZIE : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE	       AN=@AN AND LUNA=@LUNA AND DIVIZIE NOT IN ( SELECT DISTINCT COD FROM dbo.AFC_INT_DIVIZIE src )
			UNION ALL
		SELECT        'TIPCLIENT : NU ESTE DEFINITA IN TABELA DE INPUT !' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt
		WHERE	       AN=@AN AND LUNA=@LUNA AND TIPCLIENT NOT IN ( SELECT DISTINCT TIP FROM dbo.AFC_INT_TIP src )
			UNION ALL
		SELECT        'STARECLIENT : NUME STARECLIENT DIFERA DE CEL DEFINIT IN TABELA DE INPUT' AS MESAJ_EROARE, tgt.*
		FROM           dbo.EE_NOM_R_INT_FACT tgt, dbo.AFC_INT_STARE src				
		WHERE          tgt.AN=@AN AND tgt.LUNA=@LUNA AND 
					   tgt.CATEGORIETARIF=src.COD AND
					   tgt.STARECLIENT<>src.NUME
GO
/
CREATE FUNCTION [dbo].[fn_EE_NOM_R_VF_TARIF_DISTR]  
(
@AN SMALLINT,
@LUNA SMALLINT
)
RETURNS TABLE
AS
RETURN
		
	SELECT 'LIPSA TARIF DE DISTRIBUTIE' AS MESAJ_EROARE, src.DENUMIREDISTRIBUITOR, src.NIVELDETENSIUNE, NULL AS DELAANLUNA, NULL AS PANALAANLUNA,
		NULL AS TARIF_DISTR, NULL AS MOD_DE, NULL AS MOD_TIMP
	FROM    (
		SELECT DENUMIREDISTRIBUITOR , NIVELDETENSIUNE 
		from dbo.EE_NOM_R_MARIMI
		WHERE AN=@AN AND LUNA=@LUNA AND INSTALATIE NOT IN ( SELECT DISTINCT INSTALATIE FROM EE_NOM_R_INT_EXCL_DISTR )
		GROUP BY DENUMIREDISTRIBUITOR , NIVELDETENSIUNE 
		EXCEPT
		SELECT  DENUMIREDISTRIBUITOR , NIVELDETENSIUNE  
		FROM	dbo.EE_NOM_R_INT_TARIF_DISTR
		GROUP BY DENUMIREDISTRIBUITOR , NIVELDETENSIUNE
		) src
		UNION ALL 
	SELECT  'TARIF DISTRIBUTIE : TREBUIE SA FIE >=0 !' AS MESAJ_EROARE, tgt.*
	FROM     dbo.EE_NOM_R_INT_TARIF_DISTR tgt
	WHERE	 (TARIF_DISTR<0 OR TARIF_DISTR IS NULL )
GO
